body{
    font-family: 'Heebo';
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
   
}

h1{
    margin: 10px;
    font-family: 'Ephesis';
    font-size: 2.5em;
}

#top{
    background-color: #F42D59;
    color: white;
    width: 100%;
    display: flex;
}

img{
    width: 60px;
    border-radius: 50%;
}

.box{
    width: 200px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

#boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

}

#contact{
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 8px;
    margin: 10px;
}

#mountain{
    width: 100%;
    border-radius: 0%;
    margin-top: 25px;
}

#bottom{
    background-color: #F42D59;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

#socials{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.social{
    margin: 5px;
}

#submit{
    background-color: #F42D59;
    color: white;
    border: 0px;
    width: 350px;
    height: 25px;
}

a{
    text-decoration:none;
    color: white;
}

#c1{
    border-radius: 50%;
    background-color: white;
    width: 65px;
    position: absolute;
    
}
#c2{
    border-radius: 50%;
    background-color: #F42D59;
    width: 45px;
    
}
#c3{
    border-radius: 50%;
    background-color: white;
    width: 25px;
    
}
#c4{
    border-radius: 50%;
    background-color: #F42D59;
    width: 10px;
    
}


@media (max-width:769px){
    #boxes{
        display: flex;
        flex-direction: column;
        justify-content: center

    }
    #contact{
        width: 350px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 8px;
        margin: 10px;
    }
}
